* {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: white;
}

body {
    background-color: #202124;
}

.container-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

header {
    height: 60px;
    padding: 10px;
    box-sizing: border-box;
}

.nav-top {
    display: flex;
    justify-content: flex-end;
}

.nav-top ul {
    display: table;
}

.nav-top li {
    display: table-cell;
    vertical-align: middle;
    padding: 0 10px;
}

.d-inlineBlock svg {
    width: 24px;
    height: 24px;
}

/* .nav-top li:nth-child(3) {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: white;
} */

.nav-top a {
    font-size: 13px;
    padding: 8px;
}

#apps-img {
    width: 20px;
}

#user-img {
    width: 32px;
    border-radius: 32px;
}

main {
    height: 560px;
    padding: 60px;
    box-sizing: border-box;
    text-align: center;
    align-content: center;
}

main img {
    margin-top: 110px;
}

#search-bar {
    display: flex;
    align-items: center;
    vertical-align: middle;
    flex-wrap: nowrap;
    flex-direction: row;
}

#magnifier {
    display: flex;
    border: 2px solid;
    vertical-align: middle;
}

#sb {
    width: 550px;
    height: 44px;
    border: solid 1px #5f6368;
    border-radius: 24px;
    background-color: #202124;
    margin-top: 50px;
    margin-bottom: 15px;;
    vertical-align: middle;
}

#voice-search {
    border: 2px solid;
}

main input {
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 4px;
    color: #e8eaed;
    cursor: pointer;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    text-align: center;
    cursor: text;
}



#sb:hover {
    background-color: #303134;
    border-color: #303134;
}

.lang-change {
    padding: 0 3px;
    line-height: 28px;
    margin-top: 20px;
    font-size: 13px;
}

.lang-change a {
    color: #8ab4f8;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    flex-wrap: nowrap;
    box-sizing: border-box;
    background-color: #171717;
}

footer ul {
    display: table;
}
footer li {
    display: table-cell;
    font-size: 15px;
}

/* footer a {
    font-size: 14px;
} */

.nav-bot-r1 {
    float: left;
    padding: 15px 30px;
    border-bottom: solid 1px #212327;
}
.nav-bot-r2 {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
}

.nav-bot-r2r {
    display: flex;
    justify-content: space-between;
}

.nav-bot-r2l a {
    padding: 15px;
}

.nav-bot-r2r a {
    padding: 15px;
}