* {
  font-family: Helvetica, Tahoma, sans-serif;
  color: #f2f2f2;
}

header h1 {
  margin: 35px;
  color: #efe3d0;
}

body {
  background-color: #79b4b7;
}

a.btn {
  list-style-position: inside;
  font-size: 18px;
  font-style: normal;
  text-decoration: none;
  border: 5px solid;
  border-radius: 15px;
  padding: 5px;
  color: #f2f2f2;
  border-color: #986d8e;
  background-color: #986d8e;
  margin: 5px;
}

a.btn:hover {
  background-color: #d9cab3;
  border-color: #d9cab3;
}

a:active {
  color: black;
}

img.main {
  width: 550px;
  border: 3px solid;
  border-radius: 15px;
  border-color: #986d8e;
}

img.secondary {
  border: 2px solid transparent;
}

textarea:focus,
input:focus {
  color: black;
}

input,
select,
textarea {
  color: black;
}

footer p {
  margin: 20px;
}

footer a {
  font-size: 14px;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}
